# Ignore environment folders
.venv

# Ignore secret files
C:\Users\Administrator\OneDrive\Desktop\CW2_M01068100_CST1510\.streamlit\secrets.toml
config.yaml

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
